<div class='container-fluid navbar navbar-default'>
  <a class='navbar navbar-brand navbar-link nav navbar-nav' href="/">Home</a>
  <a class='navbar navbar-brand navbar-link nav navbar-nav' href="/bots/new">New</a>
  <a class='navbar navbar-brand navbar-link nav navbar-nav' href="/dashboard">Dashboard</a>
</div>

<div class="container-fluid">
  <div id="info" class="row well text-center">
    <h1>Name: <%= @robot.name %></h1>
    <img src="https://robohash.org/<%= @robot.avatar %>.png">
    <h4>Birthdate: <%= @robot.birthdate_year %>-<%= @robot.birthdate_month %>-<%= @robot.birthdate_day %> </h4>
    <h4>City: <%= @robot.city %></h4>
    <h4>State: <%= @robot.state %></h4>
    <h4>Date Hired: <%= @robot.date_hired_year %>-<%= @robot.date_hired_month %>-<%= @robot.date_hired_day %></h4>
    <h4>Department: <%= @robot.department %></h4>
    <a id="edit" href="/bots/<%= @robot.id %>/edit"><button class="btn btn-info">Edit</button></a>
      <form action="/bots/<%= @robot.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button value="delete" class="btn btn-warning" type="submit">Delete</button>
      </form>
  </div>
</div>
