<div class='container-fluid navbar navbar-default'>
  <a class='nav navbar-nav navbar-link navbar-btn navbar-brand' href="/">Home</a>
  <a class='nav navbar-nav navbar-link navbar-btn navbar-brand' href="/bots">Bot Index</a>
  <a class='nav navbar-nav navbar-link navbar-btn navbar-brand' href="/dashboard">Dashboard</a>
</div>

<div class="container-fluid">
  <div class="row well text-center">
    <h1>Name: <%= @robot.name %></h1>
    <img src="https://robohash.org/<%= @robot.avatar %>.png">
    <h4>Birthdate: <%= @robot.birthdate %></h4>
    <h4>City: <%= @robot.city %></h4>
    <h4>State: <%= @robot.state %></h4>
    <h4>Date Hired: <%= @robot.date_hired %></h4>
    <h4>Department: <%= @robot.department %></h4>
  </div>
</div>
